 <div class="tab-pane fade" 
 id="charity_events" role="tabpanel" aria-labelledby="charity_events-tab">
 
 <% if @charity_events.nil? || @charity_events.count <1 %>
    <div class="mt-4">
      No events to show here
    </div>
  <% else %>
  <%= render partial: 'card_event', locals: {events: @charity_events} %>
 <% end %>
 
 </div>