 <div class="tab-pane fade show active" 
 id="music_events" role="tabpanel" aria-labelledby="music_events-tab">
 
 <% if @music_events.nil? %>
    <div class="mt-4">
      No events to show here
    </div>
  <% else %>
  <%= render partial: 'card_event', locals: {events: @music_events} %>
 <% end %>
 
 </div>