<div class="container-fluid browse-categories">
  <div class="row">
    <h1 class="text-center mx-auto">Browse by top categories</h1>
    <div class="col-lg-10 offset-lg-1">
        <div class='row mb-2'>
            <div class="col-8 p-0">
                <div class="cat cat-1">
                  <div> Online Event</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-2">
                  <div class="">Food & Drink</div>
                </div>
            </div>
        </div>
         <div class='row mb-2'>
            <div class="col-4 p-0">
                <div class="cat cat-3">
                  <div class="">Class</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-4">
                  <div class="">Business</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-5">
                  <div class="">Parties</div>
                </div>
                
            </div>
        </div>
         <div class='row mb-2' >
            <div class="col-4 p-0">
                <div class="cat cat-6">
                  <div class="">Sport</div>
                </div>
                
            </div>
            <div class="col-8 p-0">
                <div class="cat cat-7">
                  <div class="">Music</div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
</div>