<div class="container-fluid browse-categories">
  <div class="row">
    <h1 class="text-center mx-auto mb-4">Browse by top categories</h1>
    <div class="col-lg-10 offset-lg-1">
        <div class='row mb-2'>
            <div class="col-8 p-0">
                <div class="cat cat-1">
                  <div class="cat-inner"> Online Event</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-2">
                  <div class="cat-inner">Food & Drink</div>
                </div>
            </div>
        </div>
         <div class='row mb-2'>
            <div class="col-4 p-0">
                <div class="cat cat-3">
                  <div class="cat-inner">Class</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-4">
                  <div class="cat-inner">Business</div>
                </div>
            </div>
            <div class="col-4 p-0">
                <div class="cat cat-5">
                  <div class="cat-inner">Parties</div>
                </div>
                
            </div>
        </div>
         <div class='row mb-2' >
            <div class="col-4 p-0">
                <div class="cat cat-6">
                  <div class="cat-inner">Sport</div>
                </div>
                
            </div>
            <div class="col-8 p-0">
                <div class="cat cat-7">
                  <div class="cat-inner">Music</div>
                </div>
                
            </div>
        </div>
    </div>
  </div>
</div>