 <div class="tab-pane fade show active" 
 id="weekend_events" role="tabpanel" aria-labelledby="weekend_events-tab">
 
 <% if @weekend_events.nil? %>
    <div class="mt-4">
      No events to show here
    </div>
  <% else %>
    <%= render partial: 'card_event', locals: {events: @weekend_events} %>
 <% end %>
 
 </div>