<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Help" %>
</head>

<body>

  <!-- MAIN BODY -->
  <section id="help-section">
    <h1>StaticPages#help</h1>
    <p>Find me in app/views/static_pages/help.html.erb</p>
  </section>
</body>

</html>