<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Secret" %>
</head>

<body>

  <!-- MAIN BODY -->
  <section id="secret-section">
    <h1>This is a secret page</h1>
  </section>
</body>

</html>