<!-- Side bar -->
<div class=" sidebar-wrap">
  <div class="sidebar">
    <ul class="sidebar-nav">
      <h5 class="mt-4 sidebar-title">Settings</h5>
      <li class="sidebar-nav-item mt-3">
        <a href="<%= accountsettings_accountsettings_path %>" class="sidebar-nav-link">
          <div>
            <i class="fas fa-id-card"></i>
          </div>
          <span>
            Contact Info
          </span>
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="<%= accountsettings_usersecret_path %>" class="sidebar-nav-link">
          <div>
            <i class="fas fa-key"></i>

          </div>
            <span>
              Account Secret
            </span>
        </a>
      </li>
      <li class="sidebar-nav-item">
        <a href="#" class="sidebar-nav-link">
          <div>
            <i class="fas fa-credit-card"></i>
          </div>
          <span>
            Credit Card
          </span>
        </a>
      </li>
    </ul>
  </div>

</div>
<!-- End sidebar -->