<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Account Settings" %>
</head>

<body>
  <%= render 'sidebar'  %>
  <!-- MAIN BODY -->
  <section class="account-settings-section">

    <h1>Your Email And Password</h1>
    <hr>

    <button class="btn btn-light">
    <i class="fas fa-exclamation-circle"></i> You currently don't have any debit or credit cards saved.
    </button>

  </section>
</body>

</html>