<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Account Settings" %>
</head>

<body>
  <!-- MAIN BODY -->
  <section>
    <%= render 'sidebar'  %>

    <h1>Your Email And Password</h1>
    <hr>

    <%= render '../devise/registrations/edit.html.erb' %>

  </section>
</body>

</html>