
<!DOCTYPE html>
<html>

<head>

  <% content_for :title, "My Events" %>
</head>
<body>
  <!-- MAIN BODY -->
  <section>
     <div class="container">
      <div class='row'>
       <h2 class="text-left">My Events</h2>
        <hr>
        <div class='col-lg-10 col-md-12 mx-auto mt-5'>
           
           
          Events

          
        </div>
      </div>
    </div>

  </section>
 
</body>

</html>