@import 'static_pages';
@import 'users';
@import 'devise_styles';
@import 'footer';
@import 'navigation';

#alert-section {
  position: relative;
  display: block;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 100;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 96%;
  background-color: rgba(0, 0, 0, 0.1);
  height: 1px;
}
