.dropdown-menu-user {
  background-color: #fff;
  min-width: 200px !important;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.2);
  z-index: 11;
  padding: unset;
  margin: unset;
  border-radius: 6px;
  border: 0.125px solid #f1f1f1 !important;
}

.nav-bg-light {
  background-color: #fff;
  .navbar-collapse {
    background-color: #fff;
    // border-bottom: 1px solid #f1f1f1;
  }
}
.nav-bg-light {
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  height: 80px;

  .nav-item:hover {
    background-color: #f1f1f1;
  }
}
.sidebar-top:hover {
  cursor: pointer;
}
