// // Intro information
.intro-send-message {
  background-color: #1e0a3c;
}
.intro-photo {
  background: {
    image: asset_url('event.jpeg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 80vh;

  .intro-fight {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ffdc23;
    width: 35em;
    min-height: 11em;
    .intro-fight-title {
      background-color: #333;
      color: #fff;
      padding: 2px;
      font-weight: 700;
      font-size: 2rem;
      display: inline-block;
    }
  }
}

.event-list {
  margin-top: 150px;
  min-height: 50vh;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-body {
  width: 100%;
  min-height: 220px;
  object-fit: cover;
}

.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}
