// // Intro information
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.intro-send-message {
  background-color: #1e0a3c;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  width: 100%;
}
.intro-photo {
  background: {
    image: asset_url('event.jpeg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 80vh;
  width: 100%;

  .intro-fight {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ffdc23;
    max-width: 35em;
    min-height: 11em;
    .intro-fight-title {
      background-color: #333;
      color: #fff;
      padding: 2px;
      font-weight: 700;
      font-size: 2rem;
      display: inline-block;
    }
  }
}

@media all and (max-width: 768px) {
  .intro-photo {
    padding: auto 0px;

    .intro-fight {
      .intro-fight-title {
        padding: 2px;
        font-weight: 500;
        font-size: 1.4rem;
      }
    }
  }
}

.event-list {
  margin-top: 150px;
  min-height: 50vh;
}
.card {
  transition: 0.2s ease;
  &:hover {
    transform: scale(1.05);
    box-shadow: 5x 8x 15px rgba(0, 0, 0, 0.1);
  }
}
.card-top {
  position: relative;
  .card-money {
    background: #f1f1f1;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 2px 4px;
    border-radius: 2px;
  }
  .card-online {
    background: #ffdc23;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 4px;
    border-radius: 2px;
    color: red;
  }
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-body {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.card-title {
  height: 50px;
  overflow: hidden;
}
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  overflow: hidden;
  margin-top: 1rem;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
  border-left-color: crimson;
}

.browse-categories {
  margin-top: 200px;
  .cat {
    position: relative;
    font-size: 2.4rem;
    color: #fff;
    min-height: 25vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    transition: 0.2s ease;
    border-radius: 10px;
    &:hover {
      transform: scale(1.01);
      opacity: 0.8;
    }
    vertical-align: middle;
    text-align: center;
    margin-right: 0.6rem;
    .cat-inner {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      height: 30px;
    }
  }
  .cat-1 {
    background: {
      image: asset_url('category/online.jpeg');
    }
  }
  .cat-2 {
    background: {
      image: asset_url('category/food.jpeg');
    }
  }
  .cat-3 {
    background: {
      image: asset_url('category/class.jpeg');
    }
  }
  .cat-4 {
    background: {
      image: asset_url('category/business.jpeg');
    }
  }
  .cat-5 {
    background: {
      image: asset_url('category/party.jpeg');
    }
  }
  .cat-6 {
    background: {
      image: asset_url('category/sport.jpeg');
    }
  }
  .cat-7 {
    background: {
      image: asset_url('category/music.jpeg');
    }
  }
}
