// // Intro information
.intro-send-message {
  background-color: #1e0a3c;
}
.intro-photo {
  background: {
    image: asset_url('event.jpeg');
  }
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 80vh;

  .intro-fight {
    position: absolute;
    top: 90%;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: #ffdc23;
    width: 35em;
    min-height: 11em;
    .intro-fight-title {
      background-color: #333;
      color: #fff;
      padding: 2px;
      font-weight: 700;
      font-size: 2rem;
      display: inline-block;
    }
  }
}

.event-list {
  margin-top: 150px;
}

.card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
}
.card-body {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
